<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    {% block css %}
        <!-- Bootstrap core CSS -->
        <link href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/templatemo-liberty-market.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/owl.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/animate.css')}}">
        <link rel="stylesheet"href="{{asset('https://unpkg.com/swiper@7/swiper-bundle.min.css')}}"/>

    {% endblock %}
    <!--

    TemplateMo 577 Liberty Market

    https://templatemo.com/tm-577-liberty-market

    -->
</head>

<body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{path('app_home')}}" class="logo">
                        <img src="../../assets/images/logo.png" alt="" weight="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{path('app_home')}}" class="active">Home</a></li>


                        {% if app.user %}
                            {% if is_granted('ROLE_BOOSTER') %}
                                <li><a href="{{path('app_user_show_dashboard',{'id': app.user.id})}}">Dashbord</a></li>

                            {% else %}
                                <li><a href="{{path('app_user_listebooster')}}">Boosting</a></li>

                            {% endif %}

                        {% endif %}
                        {% if is_granted('ROLE_CHOACH') %}
                            <li><a href="{{ path('app_user_show_dashboardC', {'id': app.user.id}) }}">Your Dashboard</a></li>
                        {% else %}
                            <li><a href="{{ path('app_user_listecoach')}}">Coaching</a></li>
                        {% endif %}

                        <li><a href="{{path('app_game_index')}}">League Of Games</a></li>
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app_user_index') }}">Dashbord</a></li>
                            {% else %}
                                <li><a href="{{path('app_reclamation_new')}}">Make a report</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_user_show', {'id': app.user.id}) }}"> profile</a></li>


                            <li><a href="{{ path('app_logout') }}">logout</a></li>

                        {% else %}
                            <li><a href="{{ path('app_login') }}">Join Us</a></li>
                        {% endif %}
                        {# {% if app.user.roles is NotBlank and app.user.roles == ROLE_ADMIN   %}

                        <li><a href="{{ path('app_admin') }}"></a> Admin_Panel </li>
                        {% endif %}#}

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">
                    <h6>League Of Boost</h6>
                    <h2>Coaching, Boosting and Fun games with your team !</h2>
                    <p>Liberty NFT Market is a really cool and professional design for your NFT websites. This HTML CSS template is based on Bootstrap v5 and it is designed for NFT related web portals. Liberty can be freely downloaded from TemplateMo's free css templates.</p>
                    <div class="buttons">
                        {% if app.user %}
                            {% if  app.user.roles == ['ROLE_USER']  %}
                                <div class="border-button">
                                    <a href="{{ path('app_user_editcoach', {'id': app.user.id}) }}">Be a coach</a>
                                </div>
                                <div class="main-button">
                                    <a href="{{ path('app_user_editBooster', {'id': app.user.id}) }}" >Be a booster</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="owl-banner owl-carousel">
                    <div class="item">
                        <img src="../../assets/images/mf.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../../assets/images/ahri.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../../assets/images/taric.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../../assets/images/eve.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../../assets/images/thre.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Main Banner Area End ***** -->
<div class="create-nft">
    <div class="container">
      <div class="row">

        <div class="col-lg-9">
            <div class="section-heading">
                <div class="line-dec"></div>
                <h2>Check out the latest gaming news!</h2>
            </div>
        </div>

        {% for a in actualites %}
<br>
        <div class="col-lg-4">
          <div class="item second-item">
            <div class="number">
              <h6>*</h6>
            </div>
            <div class="icon">
              <img src="assets/images/icon-04.png" alt="">
            </div>
            <h4>{{a.titre}}</h4>
            <p>{{a.description}}</p>
<br><br>
            <div class="col-lg-4">
                <div class="main-button">
                <a href="{{ path('app_actualite_show', { 'id': a.id }) }}" style="color: lightpurple;">View More</a></p>
                </div>
            </div>  

          </div>
        </div>
        
        {% endfor %}
        
        </div>
    </div>
</div>




    <div class="categories-collections">

    {% block body %}


    {% endblock %}

    </div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>League Of Legends is a trademark of Riot Games, INC. We are no way affiliated with, associated with or endorsed by Riot Games, INC.
                <br>By using this website you constute acceptance terms of service and privacy policy. All copyrights, trade marks, service marks belong to the corresponding owners. <br> Copyright of © LEAGUE OF BOOST.EU 2022-2023 ALL RIGHTS RESERVED </p>
            </div>
        </div>
    </div>
</footer>

{% block js %}
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../assets/js/isotope.min.js"></script>
    <script src="../../assets/js/owl-carousel.js"></script>

    <script src="../../assets/js/tabs.js"></script>
    <script src="../../assets/js/popup.js"></script>
    <script src="../../assets/js/custom.js"></script>

{% endblock %}
</body>
</html>

  

  {% if  is_granted('ROLE_CHOACH')  %}
<script>
    var username = "{{ app.user.username }}";

    alert("Hello " + username + ", your Demand to be a COACH has been successfully treated.");
</script>
{% endif %}
    {% if  is_granted('ROLE_BOOSTER')  %}
        <script>
            var username = "{{ app.user.username }}";

            alert("Hello " + username + ", your Demand to be a BOOSTER has been successfully treated.");
        </script>
    {% endif %}



