{% extends './frontOffice.html.twig' %}
{% block title %}Actualite index{% endblock %}
{% block body %}
<div class='act-tab'>
    <h1>Gestion des actualités </h1>
    
    <table class="table" style="color:white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>        
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td >{{ actualite.id }}</td>
                <td>{{ actualite.Description }}</td>
                <td>{{ actualite.Titre }}</td>
                <td>
                    <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}">show</a>
                    /
                    <a href="{{ path('app_actualite_edit', {'id': actualite.id}) }}">edit</a>
                    /
                    <a href="{{ path('app_commentaire_new',{'id': actualite.id}) }}">Comment</a>
                     

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actualite_new') }}">Create new</a>
    </div>
    <style>
    .act-tab{
        position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}

