{% extends 'frontOffice.html.twig' %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th style="color: #FFFFFF">Date</th>
                <th style="color: #FFFFFF">Theme</th>
                <th style="color: #FFFFFF">Object</th>
                <th style="color: #FFFFFF">Status</th>
                <th style="color: #FFFFFF"></th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            {% if reclamation.etat %}
            <script>
                var username = "{{ app.user.username }}";
                var object = "{{ reclamation.object }}";
                alert("Hello " + username + ", your report \"" + object + "\" has been successfully treated.");
            </script>
            {% endif %}


            <tr>
                <td style="color: #FFFFFF">{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td style="color: #FFFFFF">{{ reclamation.theme }}</td>
                <td style="color: #FFFFFF">{{ reclamation.object }}</td>
                <td style="color: #FFFFFF">{{ reclamation.etat ? 'Saved successfully' : 'On hold' }}</td>
                <form>
                    <td>
                        <a style="color: #d41414" class="btn" href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show&nbsp&nbsp</a>

                        <a style="color: #d41414" class="btn" href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                        <form method="post" action="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" >
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id) }}">
                             <button style="color: #FFFFFF" class="btn"></button>
                        </form>
                    </td>
            </tr>
            </form>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
