{% extends 'backOffice.html.twig' %}


{% block body %}
<a href="{{ path('app_game_new') }}">Create new</a>

<div class="container-fluid pt-4 px-20">
    <div class="row g-4">
        <div class="col-sm-20 col-xl-20">
            <div class="bg-secondary rounded h-100 p-4">

                <table class="table">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h4 class="mb-4" style="text-align: center" >Game List</h4>
                            <div class="table-responsive">


                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center" scope="col">#</th>
                                        <th style="text-align: center" scope="col">Title</th>
                                        <th style="text-align: center" scope="col">Description</th>
                                        <th  class="text-danger" style="text-align: center" scope="col">Edit</th>
                                        <th  class="text-danger" style="text-align: center" scope="col">Delete</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for game in games %}
                                    <tr>
                                        <th style="text-align: center" scope="row">{{ game.id }}</th>
                                        <td style="text-align: center" >{{ game.title }}</td>
                                        <td style="text-align: center" >{{ game.description }}</td>

                                        <td style="text-align: center" ><a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a> </td>
                                        
                                        <td style="text-align: center" ><form method="post" action="{{ path('app_game_delete', {'id': game.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
                                                <button class="btn-danger">Delete</button>
                                            </form></td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                                


                </table>
                <a href="{{ path('app_game_new', {'id': game.id}) }}">edit</a> 

                </div></div></div></div>


        <!-- Table End -->
{% endblock %}