{% extends 'frontOffice.html.twig' %}

{% block body %}
    <h1>SessionBoosting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th style="color: white;">Id</th>
                <td style="color: white;">{{ session_boosting.id }}</td>
            </tr>
            <tr>
                <th style="color: white;">Titre</th>
                <td style="color: white;">{{ session_boosting.Titre }}</td>
            </tr>
            <tr>
                <th style="color: white;">Description</th>
                <td style="color: white;">{{ session_boosting.Description }}</td>
            </tr>
            <tr>
                <th style="color: white;">Nbr_heure</th>
                <td style="color: white;">{{ session_boosting.NbrHeure }}</td>
            </tr>
            <tr>
                <th style="color: white;">Prix</th>
                <td style="color: white;">{{ session_boosting.Prix }}</td>
            </tr>
        </tbody>
    </table>
<th>  <form action="{{path('app_payment', {'id': session_boosting.id})}}" method="post">
            
                                            <input type="hidden" name="token"  value="{{csrf_token('myform')}}">

                                            <input type="hidden" name="amount"  value="{{session_boosting.prix}}">

                                            <button class="btn">
                                            <span style="color: white;">Pay with paypal</span>
                                            </button>
                                    </form></th>
    <a href="{{ path('app_user_show_dashboard', {'id': app.user.id}) }}" class="btn btn-primary btn-lg "> back to list </a>
    <a href="{{ path('app_session_boosting_edit', {'id': app.user.id}) }}" class="btn btn-warning btn-lg "> edit</a>
    {{ include('session_boosting/_delete_form.html.twig') }}
{% endblock %}
