{% extends 'frontOffice.html.twig' %}

{% block body %}

         <div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Welcome To Your Dashboard</h2>
  </div>
</div>

 <div class="author-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="author">
            <img src="../../assets/images/single-author.jpg" alt="" style="border-radius: 50%; max-width: 170px;">
            <h4>Booster <br> <a href="#">@{{ app.user.username }}</a></h4>
          </div>
        </div>

        <div class="col-lg-6" style="width:600px; height: 70px;">
          <div class="right-info">
            <div class="row">
              <div class="col-4">
                <div class="info-item">
                  <i class="fa fa-dollar"></i><h5>Price</h5>
                  <h6>{{ app.user.Prix }} <em> DT</em></h6>
                </div>
              </div>
              <div class="col-4">
                <div class="info-item">
                  <i class="fa fa-dollar"></i><h5>Wallet</h5>
                  <h6>{{ app.user.Solde }} <em> DT</em></h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="main-button">
                    <a href="{{ path('app_session_boosting_new', {'id': app.user.id}) }}" class="btn btn-primary btn-lg "> Create new Session </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>


<div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Your Sessions</h2>
  </div>
</div>
    <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Id</th>
                <th style="color: white;">Titre</th>
                <th style="color: white;">Description</th>
                <th style="color: white;">Nbr_heure</th>
                <th style="color: white;">Prix</th>
                <th style="color: white;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session_boosting in session_boostings %}
        {% if session_boosting.User.id == app.user.id %}
            <tr>
                <td style="color: white;">{{ session_boosting.id }}</td>
                <td style="color: white;">{{ session_boosting.Titre }}</td>
                <td style="color: white;">{{ session_boosting.Description }}</td>
                <td style="color: white;">{{ session_boosting.NbrHeure }}</td>
                <td style="color: white;">{{ session_boosting.Prix }}</td>
                <td>
                    <a href="{{ path('app_session_boosting_show', {'id': session_boosting.id}) }}" class="btn btn-primary btn-lg">show</a>
                    <a href="{{ path('app_session_boosting_edit', {'id': session_boosting.id}) }}" class="btn btn-warning btn-lg">edit</a>
                     <a href="{{ path('app_session_boosting_delete', {'id': session_boosting.id}) }}" class="btn btn-dangeré btn-lg">delete</a>
                </td>
            </tr>
             {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
         <br><br>

<div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Your Bookings</h2>
  </div>
</div>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Id</th>
                <th style="color: white;">Oldrank</th>
                <th style="color: white;">Newrank</th>
                <th style="color: white;">Prix</th>
                <th style="color: white;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_booster in reservation_boosters %}
        {% if reservation_booster.User.id == app.user.id %}
            <tr>
                <td style="color: white;">{{ reservation_booster.id }}</td>
                <td style="color: white;">{{ reservation_booster.Oldrank }}</td>
                <td style="color: white;">{{ reservation_booster.Newrank }}</td>
                <td style="color: white;">{{ reservation_booster.Prix }}</td>
                <td>
                    <a href="{{ path('app_reservation_booster_show', {'id': reservation_booster.id}) }}">show</a>
                    <a href="{{ path('app_reservation_booster_edit', {'id': reservation_booster.id}) }}">edit</a>
                </td>
            </tr>
                         {% endif %}

        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        {% endblock %}