{% extends 'frontOffice.html.twig' %}

{% block body %}
 <div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Welcome To Your Dashboard</h2>
  </div>
</div>

 <div class="author-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="author">
            <img src="../../assets/images/single-author.jpg" alt="" style="border-radius: 50%; max-width: 170px;">
            <h4>Coach <br> <a href="#">@{{ app.user.username }}</a></h4>
          </div>
        </div>

        <div class="col-lg-6" style="width:600px; height: 70px;">
          <div class="right-info">
            <div class="row">
              <div class="col-4">
                <div class="info-item">
                  <i class="fa fa-dollar"></i><h5>Price</h5>
                  <h6>{{ app.user.Prix }} <em> DT</em></h6>
                </div>
              </div>
              <div class="col-4">
                <div class="info-item">
                  <i class="fa fa-dollar"></i><h5>Wallet</h5>
                  <h6>{{ app.user.Solde }} <em> DT</em></h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="main-button">
                    <a href="{{ path('app_session_coaching_new', {'id': app.user.id}) }}" class="btn btn-primary btn-lg "> Create new Session </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>


<div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Your Sessions</h2>
  </div>
</div>
    <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Id</th>
                <th style="color: white;">Titre</th>
                <th style="color: white;">Description</th>
                <th style="color: white;">Prix</th>
                <th style="color: white;">Date</th>
                <th style="color: white;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session_coaching in session_coachings %}
            {% if session_coaching.User.id == app.user.id %}
            <tr>
                <td style="color: white;">{{ session_coaching.id }}</td>
                <td style="color: white;">{{ session_coaching.Titre }}</td>
                <td style="color: white;">{{ session_coaching.Description }}</td>
                <td style="color: white;">{{ session_coaching.Prix }}</td>
                <td style="color: white;">{{ session_coaching.Date ? session_coaching.Date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_session_coaching_show', {'id': session_coaching.id}) }}" class="btn btn-primary"> show </a>
                    <a href="{{ path('app_session_coaching_edit', {'id': session_coaching.id}) }}" class="btn btn-warning"> edit </a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td style="color: white;" colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
             <br><br>

        <div class="col-lg-12 text-center">
  <div class="section-heading">
    <div class="line-dec"></div>
    <h2>Your Bookings</h2>
  </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Id</th>
                <th style="color: white;">Nbr_heures</th>
                <th style="color: white;">Prix</th>
                <th style="color: white;">Langue</th>
                <th style="color: white;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_c in reservation_cs %}
            {% if reservation_c.User.id == app.user.id %}
            <tr>
                <td style="color: white;">{{ reservation_c.id }}</td>
                <td style="color: white;">{{ reservation_c.NbrHeures }}</td>
                <td style="color: white;">{{ app.user.Prix * reservation_c.NbrHeures }}</td>
                <td style="color: white;">{{ reservation_c.Langue }}</td>
                <td>
                    <a href="{{ path('app_reservation_c_show', {'id': reservation_c.id}) }}"class="btn btn-primary">show</a>
                    <a href="{{ path('app_reservation_c_edit', {'id': reservation_c.id}) }}"class="btn btn-warning">edit</a>
                    
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td style="color: white;" colspan="5">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}