{% extends 'frontOffice.html.twig' %}

{% block body %}
<h1>Les Sessions existantes :</h1>
    <br>

          <a href="{{ path('app_user_listebooster')}}" class="btn btn-primary btn-lg ">Nos boosters</a>

    <a href="{{ path('app_user_listesessionbooster')}}" class="btn btn-warning btn-lg ">Nos Sessions boosting</a>
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Id</th>
                <th style="color: white;">Titre</th>
                <th style="color: white;">Description</th>
                <th style="color: white;">Prix</th>
                <th style="color: white;">Date</th>
                <th style="color: white;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session_boosting in session_boostings %}
            <tr>
                <td style="color: white;">{{ session_boosting.id }}</td>
                <td style="color: white;">{{ session_boosting.Titre }}</td>
                <td style="color: white;">{{ session_boosting.Description }}</td>
                <td style="color: white;">{{ session_boosting.Prix }}</td>
                <td>
                    <a href="{{ path('app_session_boosting_show', {'id': session_boosting.id}) }}" class="btn btn-primary"> show </a>                </td>
            </tr>
            
        {% else %}
            <tr>
                <td style="color: white;" colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}