{% extends 'frontOffice.html.twig' %}

{% block body %}
<div class="discover-items">
    <div class="container">
      <div class="row">

       <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2>Our <em>Booster</em> Sessions.</h2>
                </div>
        </div>

        <div class="col-lg-10">
          <div class="filters">
            {{ form_start(form, {'attr': {'id': 'contact'}}) }}
        <div class="row">
          <div class="col-lg-4">
          <fieldset>
              <p> Enter Max Price: </p>
              <li data-filter=".msc">{{ form_widget(form.prixmax)}}</li>
          </fieldset>
          </div>

          <div class="col-lg-4">
          <fieldset>
              <p> Enter Min Price: </p>
              <li data-filter=".dig">{{ form_widget(form.prixmin)}}</li>
          </fieldset>
          </div>

          <div class="col-lg-4">
            <fieldset>
          {{ form_widget(form.filter, {'attr': {'class': 'orange-button', 'label':'Filter'}}) }}
            </fieldset>
          </div>
        </div>

          {{ form_end(form) }}
          </div>
        </div>

        {% for session_boosting in session_boostings %}

        <div class="col-lg-3">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <span class="author">
                  <img src="../../assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                </span>
                <img src="../../assets/images/jinx.jpg" alt="" style="border-radius: 20px;">
                <h4>{{ session_boosting.Titre }}</h4>
              </div>
              <div class="col-lg-12">
                <div class="line-dec"></div>
                <div class="row">
                  <div class="col-6">
                    <span>Description: <br> <strong>{{ session_boosting.Description }}</strong></span>
                  </div>
                  <div class="col-6">
                    <span>Price: <br> <strong>{{ session_boosting.Prix }} DT</strong></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="main-button">
                        <form action="{{path('app_payment2', {'id': session_boosting.id})}}" method="post">
            
                                            <input type="hidden" name="token"  value="{{csrf_token('myform')}}">

                                            <input type="hidden" name="amount"  value="{{session_boosting.prix}}">

                                <button class"main-button">Paypal</button>
                            </form> 
                </div>
              </div>
            </div>
          </div>
        </div>
                {% endfor %}

      </div>
    </div>
  </div>
  

{% endblock %}