{% extends 'frontOffice.html.twig' %}
{% block body %}

    

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->




    <div class="item-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2> <em>Your profile</em> </h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="left-image" >
                        <img   src="../../assets/images/item-details-01.jpg" alt="" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">

                    <span class="author" style=" margin-left: 200px; ">
            <img align="center" src="../../assets/images/author-02.jpg" alt="" style="max-width: 50px; border-radius: 50%;">

          </span>

                    <div class="row">
                        <div class="col-3">
              <span class="bid" style="text-align: center">Full name<br><strong>{{ user.firstname }}<br>{{ user.lastname }}</strong>
              </span><br><br><br>
                        </div>
                        <div class="col-4">
              <span class="owner" class="bid" style="text-align: center">
                E-mail<br><strong style="font-size: 17px;" > {{ user.email }}</strong>
                  <br>
              </span>
                        </div>
                        <div class="col-5">
              <span class="ends" class="bid" style="text-align: center">
                Username<br><strong>{{ user.username }}</strong>
                  <br>
              </span>
                        </div>
                    </div>


                        <a style="text-align: center; margin-left: 200px;"  href="{{ path('app_user_edit', { 'id': app.user.id } ) }}">Edit profile</a>


                        <br><br>

                    <a style="text-align: center; margin-left: 200px;"  href="{{ path('app_reclamation_index' ) }}">My reports</a>

                </div>



        </div>
    </div>

    </div>

{% endblock %}
