{% extends 'frontOffice.html.twig' %}
{% block body %}

    <div class="item-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Your <em>Profile</em> </h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="left-image" >
                        <img   src="../../assets/images/yasuo.jpg" alt="" style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                <span class="author">
            <img src="../../assets/images/user.png" alt="" style="max-width: 50px; border-radius: 50%;">

            {% if is_granted('ROLE_ADMIN') %}<h6>Admin{% endif %}
            {% if is_granted('ROLE_CHOACH') %}<h6>Coach{% endif %}
            {% if is_granted('ROLE_BOOSTER') %}<h6>Booster{% endif %}
            {% if user.roles == ['ROLE_USER'] %}<h6>User{% endif %}

            <br><a href="#">@{{user.username}}</a></h6>
          </span>

                <div class="col-3">
                    <span class="bid"><strong>Full name: </strong>{{ user.firstname }} {{ user.lastname }}
                    </span>
                </div>
<br>
                <div class="col-3">
                    <span class="owner" class="bid"><strong>E-mail: </strong>{{ user.email }}
                    </span>
                </div>

            <div>
            <form action="{{ path('app_user_edit', { 'id': app.user.id } ) }}" method="post">
                <button type="submit" id="form-submit" class="main-button">Edit profile</button>
            </form>

            <form action="{{ path('app_reclamation_index' ) }}" method="get">
                <button type="submit" id="form-submit" class="main-button">My reports</button>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>

                            

{% endblock %}
